@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #151a1e;
    overflow-x: hidden;
}

a {
    text-decoration: underline;
}

p {
    padding: 10px 3px;
}

@layer components {
    .image-cut {
        clip-path: polygon(51% 3%, 100% 28%, 100% 70%, 51% 96%, 2% 71%, 2% 28%);
    }

    .fade-in {
        animation: fade-in 1s ease-out;
        animation-fill-mode: both;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(200px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .next-chapter {
        animation: next-chapter 1s ease-out;
        animation-fill-mode: both;
    }

    @keyframes next-chapter {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(1.4);
        }
    }

    .stat-change {
        animation: stat-change .3s ease-out;
        animation-fill-mode: both;
    }

    @keyframes stat-change {
        from {
            transform: scale(1.2);
        }
        to {
            transform: scale(1);
        }
    }

    .carousel-center {
        z-index: 10;
    }

    .carousel-right {
        transform: rotate(2deg) translateX(100px);
        z-index: 5;
    }

    .carousel-left {
        transform: rotate(-2deg) translateX(-100px);
        z-index: 3;
    }

    .slider {
        width: 300px;
        height: 25px;
    }

    .slider-thumb {
        height: 25px;
        line-height: 25px;
        width: 25px;
        text-align: center;
        background-color: #dbd1b7;
        color: #dbd1b7;
        border-radius: 50%;
        cursor: grab;
    }

    .slider-track {
        top: 10px;
        height: 5px;
        background: #d9d3ce;
        border-radius: 999px;
    }

}